body {
  background-color: #0a0a23;
  font-size: 14px;
  font-family: "Press Start 2P", "Arial", sans-serif;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
  font-family: "Press Start 2P", "Arial", sans-serif;
  font-size: 12px;
}

#game {
  width: fit-content;
  max-height: 400px;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  text-align: center;
  border: 1px solid #0a0a23;
  padding: 10px;
  color: #0a0a23;
  font-family: "Press Start 2P", "Arial", sans-serif;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 10px;
  color: #ffffff;
  background-color: #c70d0d;
  font-family: "Press Start 2P", "Arial", sans-serif;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  font-family: "Press Start 2P", "Arial", sans-serif;
  width: fit-content;
  font-size: 12px;
  padding: 7px;
}
